

.card {

    text-align: center;


       h6 {
        font-size: 2vh;
        text-align: center;

        
       }

         
    
    a {
        margin-right: 3vh;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        margin-left: 2vh;
    }
            
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    background-color: white;
    height: 20vh;
    width: 30vh;
    border-radius: 2vh;
    padding-bottom: 2vh;

    .bola {
       
        border-radius: 10px;
        height: 7vh;
        width: 7vh; 
        margin-top: 3vh;
    
    
            
    }  
    
    .laranja { background-color: #FFCE37;}
            .azul { background-color: #2a1bce;}
            .verde { background-color: #4bff37;}
            .roxo { background-color: #bc00fb;}
            .marrom{background-color:  #B75333;
                }
    }

